.main-contact{
    width:100%;
    height:50vh;
    overflow:hidden;
    position:relative;
    
}

.img-contact{
    width:100%;
    height:100%;
    overflow:hidden;
    
}

.img-contact img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.text-contact h2{
    color:#FFF;
    letter-spacing: 1.4;
    font-size: 40px;
    font-weight: 600;
    display:flex;
    justify-content: center;
    margin-top: 120px;
}

.text-contact {
    position: absolute;
    width: 100%;
    text-align: center;
   
    height: 100%;
    display: block;
    align-items: center;
    background: linear-gradient(to left,#e6646481, #9198e586);
}

.contact-section{
    padding:60px
}
.contact-section h3 {
    text-align: center;
}


/*  */


.title-secondary{
    color: #004851;
    font-size: 3.7rem;
    font-weight:600;
}
.wysiwyg{padding-left: 15px;}
.wysiwyg p {
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 1rem;
    color: #696e7a;
    
}
.wysiwyg ol, .wysiwyg ul {
    line-height: 1;
    margin: 0 0 1rem;
    padding-left: 1.625rem;
}
wysiwyg ol li, .wysiwyg ul li {
    position: relative;
    margin: 0;
    padding-left: .5rem;
    color: #696e7a;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5rem;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.contact-left-side, .contact-right-side{
    width: 50%;
   
    padding: 10px;
}

textarea{
    min-width: 359.9px !important;
    max-width: 360px !important;
    max-height: 45px !important;
    min-height: 44.9px !important;
    border: 1.5px solid #ddd;
}

.custom-field.one input{min-width: 360px !important}


@media screen and (max-width: 800px) {
    .title-secondary{
        font-size:24px !important
    }
    .wysiwyg p{
        font-size:16px !important;
    }
    .wysiwyg ol li, .wysiwyg ul li{
        font-size:14px !important
    }
    .custom-field.one input {
        min-width: 230px !important;
        width:230px
    }
    textarea{
        min-width: 229.9px !important;
        max-width: 230px !important;
        max-height: 45px !important;
        min-height: 44.9px !important;
        border: 1.5px solid #ddd;
    }
      .contact-container{
          flex-direction: column !important;
      }
    .contact-left-side, .contact-right-side{
        width:100% !important;
    }

}