asgiref==3.4.1
dj-database-url==0.5.0
Django==3.2.8
django-heroku==0.3.1
future==0.18.2
gunicorn==20.1.0
iso8601==0.1.16
psycopg2==2.9.1
pyserial==3.5
python-decouple==3.5
pytz==2021.3
PyYAML==6.0
serial==0.0.97
sqlparse==0.4.2
whitenoise==5.3.0
