{% extends "pages/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blogDet.css' %}">
{% endblock css %}

{% block content %}
<div class="main-wrapper fill-white xs-mt-80" style="padding-bottom: 60px;">
    <article>
    
      
    
    
    
      <section class="hero-blocks xs-pt-50 xs-pb-50 sm-pt-100 sm-pb-100 -green-blocks">
    
      
    
        <div class="section-container relative">
    
          <div class="hero-blocks-left-blocks">
            <div class="hero-blocks-left-blocks-large"></div>
            <div class="hero-blocks-left-blocks-stripes"></div>
          </div>
    
        <div class="hero-blocks-inner relative prl-5">
          <div class="hero-blocks-middle">
    
            <h1 class="title-2 xs-mb-30">{{object.title}}</h1>
            <h5 class="text-16 text-blockquote">{{object.date_added}}</h5>
            
            <ul class="list-flex xs-mt-8">
              
                <li class="xs-mr-20"><a class="text-18-regular text-light-blue decoration-none" href="#">{{object.category}}</a></li>
              
            </ul>
    
            
    
            </div>
          </div>
    
          <div class="hero-blocks-right-blocks">
            <div class="hero-blocks-right-blocks-small"></div>
            <div class="hero-blocks-right-blocks-large"></div>
            <div class="hero-blocks-right-blocks-stripes"></div>
          </div>
    
        </div>
      </section>
    
      
    
      <section class="section-rich-text blog-styling xs-pb-80">
        <div class="section-container">
          <div class="section-rich-text-inner prl-5">
            <div class="social-list">
              <a class="social-list-twitter" href=""></a>
              <a class="social-list-linkedin" href=""></a>
              <a class="social-list-facebook" href=""></a>
            </div>
            <div class="social-list">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
            <div class="section-rich-text-leading">
            <p>{{object.description1}}</p>
    <p> <img src="{% static object.image.url %}" alt="">
    {{object.description2}}.</p>
    <p>{{object.description3}}.</p>
    <blockquote>
    <p>“{{object.quote}}”
    <cite>- {{object.authorQuote}}</cite></p>
    </blockquote>
    <p>“{{object.description4}}.</p>
    <p>{{object.description5}}.</p>
    <p>{{object.description6}}.</p>
            </div>
          </div>
        </div>
      </section>
    </article>
    
    <section class="section-rich-text xs-pb-80 xs-pt-80">
      <div class="section-container">
        <div class="section-rich-text-inner prl-5">
          <a class="decoration-none" href="#contactus">
            <div class="cta-block-box -green-blocks relative xs-mt-40 xs-mb-80">
              <div class="cta-block-box-left-block absolute"></div>
              <div class="cta-block-box-left-stripes absolute"></div>
              <div class="cta-block-box-inner pa-5 cta-shadow">
                <h3 class="title-3 xs-mb-20">Ready to Jump In?</h3>
                <p class="xs-mb-20">Our team of engineers is ready to talk through edge compute solutions to fit your application's needs. </p>
                <span class="link-with-arrow-green text-green text-18-medium">Contact Us</span>
              </div>
              <div class="cta-block-box-right-block absolute"></div>
              <div class="cta-block-box-right-stripes absolute"></div>
            </div>
          </a>
        </div>
      </div>
    </section>
    
    
    
    
      <section class="resource-block  -green-blocks xs-mb-40 xs-mt-40 relative">
        <div class="resource-block-left-large absolute"></div>
        <div class="resource-block-left-stripes absolute"></div>
        <div class="resource-block-header text-center">
          <h2 class="title-3 xs-mb-40 text-link">Similar Articles</h2>
        </div>
        <div class="resource-block-inner flex flex-wrap justify-center">
    
          
          <a class="decoration-none resource-block-item" href="#">
            <div class="resource-block-item-wrap fill-white flex cta-shadow flex-column">
              
                
                  
                <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                  
                
              
    
              <div class="resource-block-item-content flex flex-column">
                <div class="resource-block-item-content-inner pt-5 pb-5 flex flex-column fill-white">
    
                  
                  <p class="text-16 text-blockquote xs-mb-6">
                    Edge
                  </p>
                  
    
                  <h3 class="title-5 text-link xs-mb-40">Top Considerations for Containers at the Edge</h3>
                </div><span class="link-with-arrow-green text-green text-18-medium featured-content-item-content-inner-span">Read More</span>
              </div>
            </div>
          </a>
          
          <a class="decoration-none resource-block-item" href="/blog/5-must-haves-edge-as-a-service-solution/">
            <div class="resource-block-item-wrap fill-white flex cta-shadow flex-column">
              
                
                  
                <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                  
                
              
    
              <div class="resource-block-item-content flex flex-column">
                <div class="resource-block-item-content-inner pt-5 pb-5 flex flex-column fill-white">
    
                  
                  <p class="text-16 text-blockquote xs-mb-6">
                    Edge
                  </p>
                  
    
                  <h3 class="title-5 text-link xs-mb-40">Top 5 Must-Haves in an Edge as a Service (EaaS) Solution</h3>
                </div><span class="link-with-arrow-green text-green text-18-medium featured-content-item-content-inner-span">Read More</span>
              </div>
            </div>
          </a>
          
          <a class="decoration-none resource-block-item" href="/blog/how-to-solve-the-edge-puzzle/">
            <div class="resource-block-item-wrap fill-white flex cta-shadow flex-column">
              
                
                  
                <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                  
                
              
    
              <div class="resource-block-item-content flex flex-column">
                <div class="resource-block-item-content-inner pt-5 pb-5 flex flex-column fill-white">
    
                  
                  <p class="text-16 text-blockquote xs-mb-6">
                    Edge
                  </p>
                  
    
                  <h3 class="title-5 text-link xs-mb-40">How to Solve the Edge Puzzle</h3>
                </div><span class="link-with-arrow-green text-green text-18-medium featured-content-item-content-inner-span">Read More</span>
              </div>
            </div>
          </a>
          
    
        </div>
        <div class="resource-block-right-large absolute"></div>
        <div class="resource-block-right-stripes absolute"></div>
      </section>
    
    
    
    </div>

{% endblock content %}