{% extends "pages/base.html" %}
{% load static %}

{% block css  %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css %}

{% block content %}
<section class="blog-listing-posts">
    <div class="section-container blog-listing-posts-container">
      <div class="blog-listing-posts-content">
        <ul class="list-unstyled xs-mb-80">
          
          
            <li class="blog-listing-posts-item mix edge ">
              <a class="decoration-none xs-pb-40 xs-pt-40 prl-25 flex flex-wrap" href="{%url 'blogDet'%}">

                <div class="blog-listing-posts-item-image">
                  
                    
                      
                    <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                      
                    
                  
                </div>

                <div class="blog-listing-posts-item-content">
                  <h3 class="title-3 text-link xs-mb-10">Section to Power Content Delivery and Edge Services for Victorian Government’s Single Digital Presence Platform</h3>
                  <p class="text-blockquote xs-mb-20">Nov 29, 2021</p>

                  <p class="text-18-regular text-color">Section has been selected by the Victorian Government’s Department of Premier and Cabinet (DPC) as part of a competitive tender process to provide Content Delivery Network (CDN) and Edge Computing services for...</p>

                  
                  <ul class="list-flex xs-mt-20 xs-mb-20">
                    <li class="text-blockquote" style="margin-right: 6px;">Categories:</li>
                    
                      <li class="xs-mr-20 text-blockquote">Edge</li>
                    
                  </ul>
                  
                </div>

              </a>
            </li>
          
            <li class="blog-listing-posts-item mix edge ">
              <a class="decoration-none xs-pb-40 xs-pt-40 prl-25 flex flex-wrap" href="{%url 'blogDet'%}">

                <div class="blog-listing-posts-item-image">
                  
                    
                      
                    <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                      
                    
                  
                </div>

                <div class="blog-listing-posts-item-content">
                  <h3 class="title-3 text-link xs-mb-10">Top Considerations for Containers at the Edge</h3>
                  <p class="text-blockquote xs-mb-20">Nov 22, 2021</p>

                  <p class="text-18-regular text-color">Some things are just made to go together, like containers and edge computing.
Containers package an application such that the software and its dependencies (libraries, binaries, config files, etc.) are isolated...</p>

                  
                  <ul class="list-flex xs-mt-20 xs-mb-20">
                    <li class="text-blockquote" style="margin-right: 6px;">Categories:</li>
                    
                      <li class="xs-mr-20 text-blockquote">Edge</li>
                    
                  </ul>
                  
                </div>

              </a>
            </li>
          
            <li class="blog-listing-posts-item mix edge ">
              <a class="decoration-none xs-pb-40 xs-pt-40 prl-25 flex flex-wrap" href="{%url 'blogDet'%}" >

                <div class="blog-listing-posts-item-image">
                  
                    <img src="{% static './images/course.jpg' %}" alt="">
        
                </div>

                <div class="blog-listing-posts-item-content">
                  <h3 class="title-3 text-link xs-mb-10">Top 5 Must-Haves in an Edge as a Service (EaaS) Solution</h3>
                  <p class="text-blockquote xs-mb-20">Oct 21, 2021</p>

                  <p class="text-18-regular text-color">The “as a service” model is relied on heavily by companies today to meet a wide range of needs. Software as a Service (SaaS) may be the most recognizable of these services, but Platform as a Service (PaaS) and...</p>

                  
                  <ul class="list-flex xs-mt-20 xs-mb-20">
                    <li class="text-blockquote" style="margin-right: 6px;">Categories:</li>
                    
                      <li class="xs-mr-20 text-blockquote">Edge</li>
                    
                  </ul>
                  
                </div>

              </a>
            </li>
          
            <li class="blog-listing-posts-item mix edge ">
              <a class="decoration-none xs-pb-40 xs-pt-40 prl-25 flex flex-wrap" href="{%url 'blogDet'%}">

                <div class="blog-listing-posts-item-image">
                  
                    
                      
                    <img src="{% static './images/course.jpg' %}" alt="">
                      
                    
                  
                </div>

                <div class="blog-listing-posts-item-content">
                  <h3 class="title-3 text-link xs-mb-10">How to Solve the Edge Puzzle</h3>
                  <p class="text-blockquote xs-mb-20">Sep 27, 2021</p>

                  <p class="text-18-regular text-color">Finding the right technology solutions these days can feel like trying to hit a moving target. With web applications both increasing in complexity and evolving in a landscape where consumers are demanding...</p>

                  
                  <ul class="list-flex xs-mt-20 xs-mb-20">
                    <li class="text-blockquote" style="margin-right: 6px;">Categories:</li>
                    
                      <li class="xs-mr-20 text-blockquote">Edge</li>
                    
                  </ul>
                  
                </div>

              </a>
            </li>
          
            <li class="blog-listing-posts-item mix company ">
              <a class="decoration-none xs-pb-40 xs-pt-40 prl-25 flex flex-wrap" href="{%url 'blogDet'%}">

                <div class="blog-listing-posts-item-image">
                  
                    
                      
                    <img src="{% static './images/course.jpg' %}" alt="">
                      
                    
                  
                </div>

                <div class="blog-listing-posts-item-content">
                  <h3 class="title-3 text-link xs-mb-10">Section Selected to Participate in 5G Open Innovation Lab</h3>
                  <p class="text-blockquote xs-mb-20">Sep 16, 2021</p>

                  <p class="text-18-regular text-color">We’re excited to announce that Section has been selected by global industry manufacturing leader CNHI America’s 5G Open Innovation Lab (“5GOILab”) to participate in their 12-week global applied innovation...</p>

                  
                  <ul class="list-flex xs-mt-20 xs-mb-20">
                    <li class="text-blockquote" style="margin-right: 6px;">Categories:</li>
                    
                      <li class="xs-mr-20 text-blockquote">Company</li>
                    
                  </ul>
                  
                </div>

              </a>
            </li>
          
        </ul>
        



      </div>
    </div>
  </section>

{% endblock content %}