{% extends "pages/base.html" %}
{% load static %}

{% block css  %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock css %}

{% block content %}
<section class="blog-listing-posts">
    <div class="section-container blog-listing-posts-container">
      <div class="blog-listing-posts-content">
        <ul class="list-unstyled xs-mb-80">
          
           {% for blog in blogs %}
            <li class="blog-listing-posts-item mix edge ">
              <a class="decoration-none xs-pb-40 xs-pt-40 prl-25 flex flex-wrap" href="{%url 'blogDet'%}">

                <div class="blog-listing-posts-item-image">
                  
                    
                      
                    <img src="{% static blog.image.url %}" alt="">
                      
                    
                  
                </div>

                <div class="blog-listing-posts-item-content">
                  <h3 class="title-3 text-link xs-mb-10">{{blog.title}}</h3>
                  <p class="text-blockquote xs-mb-20">{{blog.date_added}}</p>

                  <p class="text-18-regular text-color">{{blog.description}}</p>

                  
                  <ul class="list-flex xs-mt-20 xs-mb-20">
                    <li class="text-blockquote" style="margin-right: 6px;">Categories:</li>
                    
                      <li class="xs-mr-20 text-blockquote">{{blog.category}}</li>
                    
                  </ul>
                  
                </div>

              </a>
            </li>
          {% endfor %}

          
        </ul>
        



      </div>
    </div>
  </section>

{% endblock content %}