{% extends "pages/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blogDet.css' %}">
{% endblock css %}

{% block content %}
<div class="main-wrapper fill-white xs-mt-80" style="padding-bottom: 60px;">
    <article>
    
      
    
    
    
      <section class="hero-blocks xs-pt-50 xs-pb-50 sm-pt-100 sm-pb-100 -green-blocks">
    
      
    
        <div class="section-container relative">
    
          <div class="hero-blocks-left-blocks">
            <div class="hero-blocks-left-blocks-large"></div>
            <div class="hero-blocks-left-blocks-stripes"></div>
          </div>
    
        <div class="hero-blocks-inner relative prl-5">
          <div class="hero-blocks-middle">
    
            <h1 class="title-2 xs-mb-30">Section to Power Content Delivery and Edge Services for Victorian Government’s Single Digital Presence Platform</h1>
            <h5 class="text-16 text-blockquote">November 29, 2021</h5>
            
            <ul class="list-flex xs-mt-8">
              
                <li class="xs-mr-20"><a class="text-18-regular text-light-blue decoration-none" href="https://www.section.io/blog/tag/edge">Edge</a></li>
              
            </ul>
    
            
    
            </div>
          </div>
    
          <div class="hero-blocks-right-blocks">
            <div class="hero-blocks-right-blocks-small"></div>
            <div class="hero-blocks-right-blocks-large"></div>
            <div class="hero-blocks-right-blocks-stripes"></div>
          </div>
    
        </div>
      </section>
    
      
    
      <section class="section-rich-text blog-styling xs-pb-80">
        <div class="section-container">
          <div class="section-rich-text-inner prl-5">
            <div class="social-list">
              <a class="social-list-twitter" href=""></a>
              <a class="social-list-linkedin" href=""></a>
              <a class="social-list-facebook" href=""></a>
            </div>
            <div class="social-list">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
            <div class="section-rich-text-leading">
            <p>Section has been selected by the <a href="https://www.vic.gov.au/">Victorian Government</a>’s Department of Premier and Cabinet (DPC) as part of a competitive tender process to provide Content Delivery Network (CDN) and Edge Computing services for its Single Digital Presence (SDP) platform.</p>
    <p> <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
    Section will provide the Victorian Government a range of solutions, including application performance optimization, security/edge hosting and routing, streamlined by DevOps workflows, and meshed with DPC’s Continuous Integration / Continuous Delivery (CI/CD) capabilities. The solution is designed to support the government’s efforts to improve efficiency, accessibility and user experience by consolidating valuable public information and applications through its SDP initiative.</p>
    <p>Section makes it easy for government and commercial organizations to deliver faster, more personalized and secure digital experiences by removing the burdens associated with provisioning, monitoring and scaling these distributed workloads. Unlike inflexible cloud and legacy CDN platforms, Section gives DPC freedom to better control, protect and grow future edge services and other capabilities for its SDP platform. DPC will look to leverage Section’s Edge Services Marketplace, which includes readily available open-source and third-party options for web application firewalls (WAFs), bot blocking, caching, server-side A/B testing, image optimization and more.</p>
    <blockquote>
    <p>“The Victorian Government valued our flexible, modular, vendor-agnostic platform, providing a range of options to meet its needs today and into the future.”
    <cite>- Matthew Johnson, General Manager, APAC at Section</cite></p>
    </blockquote>
    <p>“Consolidating and distributing application workloads helps governments efficiently connect with citizens in exciting new ways. DPC recognized that a robust content delivery and edge computing platform is critical to the optimal user experience it seeks to create with its SDP platform,” said Matthew Johnson.</p>
    <p>The <a href="https://www.singledigitalpresence.vic.gov.au/">SDP</a> platform is designed to make it easier for people to find, understand and use Victorian Government information. Initiated in 2016, SDP began with a business case to consolidate all DPC websites onto a common platform. Since then, over 100 websites with content from all 9 Departments plus Victoria Police have been consolidated on SDP to realize the full benefits of a whole government approach to digital delivery.</p>
    <p>Section is partnering with <a href="https://salsadigital.com.au/">Salsa Digital</a>, an open source focused company of digital engineers that works with governments across Australia in providing end-to-end digital experiences, as part of the Victorian Government’s SDP project. Salsa delivers expert services for governments around development, infrastructure, governance and edge capabilities. Looking ahead, the DPC has identified opportunities to push more edge-enable solutions, such as <a href="https://www.quantcdn.io/">QuantCDN</a>, a static site generation and hosting platform.</p>
            </div>
          </div>
        </div>
      </section>
    </article>
    
    <section class="section-rich-text xs-pb-80 xs-pt-80">
      <div class="section-container">
        <div class="section-rich-text-inner prl-5">
          <a class="decoration-none" href="/contact-us">
            <div class="cta-block-box -green-blocks relative xs-mt-40 xs-mb-80">
              <div class="cta-block-box-left-block absolute"></div>
              <div class="cta-block-box-left-stripes absolute"></div>
              <div class="cta-block-box-inner pa-5 cta-shadow">
                <h3 class="title-3 xs-mb-20">Ready to Jump In?</h3>
                <p class="xs-mb-20">Our team of engineers is ready to talk through edge compute solutions to fit your application's needs. </p>
                <span class="link-with-arrow-green text-green text-18-medium">Talk to a Developer</span>
              </div>
              <div class="cta-block-box-right-block absolute"></div>
              <div class="cta-block-box-right-stripes absolute"></div>
            </div>
          </a>
        </div>
      </div>
    </section>
    
    
    
    
      <section class="resource-block  -green-blocks xs-mb-40 xs-mt-40 relative">
        <div class="resource-block-left-large absolute"></div>
        <div class="resource-block-left-stripes absolute"></div>
        <div class="resource-block-header text-center">
          <h2 class="title-3 xs-mb-40 text-link">Similar Articles</h2>
        </div>
        <div class="resource-block-inner flex flex-wrap justify-center">
    
          
          <a class="decoration-none resource-block-item" href="/blog/top-considerations-for-containers-at-edge/">
            <div class="resource-block-item-wrap fill-white flex cta-shadow flex-column">
              
                
                  
                <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                  
                
              
    
              <div class="resource-block-item-content flex flex-column">
                <div class="resource-block-item-content-inner pt-5 pb-5 flex flex-column fill-white">
    
                  
                  <p class="text-16 text-blockquote xs-mb-6">
                    Edge
                  </p>
                  
    
                  <h3 class="title-5 text-link xs-mb-40">Top Considerations for Containers at the Edge</h3>
                </div><span class="link-with-arrow-green text-green text-18-medium featured-content-item-content-inner-span">Read More</span>
              </div>
            </div>
          </a>
          
          <a class="decoration-none resource-block-item" href="/blog/5-must-haves-edge-as-a-service-solution/">
            <div class="resource-block-item-wrap fill-white flex cta-shadow flex-column">
              
                
                  
                <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                  
                
              
    
              <div class="resource-block-item-content flex flex-column">
                <div class="resource-block-item-content-inner pt-5 pb-5 flex flex-column fill-white">
    
                  
                  <p class="text-16 text-blockquote xs-mb-6">
                    Edge
                  </p>
                  
    
                  <h3 class="title-5 text-link xs-mb-40">Top 5 Must-Haves in an Edge as a Service (EaaS) Solution</h3>
                </div><span class="link-with-arrow-green text-green text-18-medium featured-content-item-content-inner-span">Read More</span>
              </div>
            </div>
          </a>
          
          <a class="decoration-none resource-block-item" href="/blog/how-to-solve-the-edge-puzzle/">
            <div class="resource-block-item-wrap fill-white flex cta-shadow flex-column">
              
                
                  
                <img src="{% static './images/wp5772701-anti-social-club-computer-wallpapers.jpg' %}" alt="">
                  
                
              
    
              <div class="resource-block-item-content flex flex-column">
                <div class="resource-block-item-content-inner pt-5 pb-5 flex flex-column fill-white">
    
                  
                  <p class="text-16 text-blockquote xs-mb-6">
                    Edge
                  </p>
                  
    
                  <h3 class="title-5 text-link xs-mb-40">How to Solve the Edge Puzzle</h3>
                </div><span class="link-with-arrow-green text-green text-18-medium featured-content-item-content-inner-span">Read More</span>
              </div>
            </div>
          </a>
          
    
        </div>
        <div class="resource-block-right-large absolute"></div>
        <div class="resource-block-right-stripes absolute"></div>
      </section>
    
    
    
    </div>

{% endblock content %}