{% extends "pages/base.html" %}
{% load static %}

{% block content %}
<section class="index-hero block-first"> 
    <div class="container"> 
    <div class="row row-hero"> 
        <div class="col-md-9 col-lg-8 col-xl-7 col-hero">
         <h1>Find Your internishps, Courses here <br> With us</h1> 
         <p>Build powerful, deeply customizable form experiences and store collected data 
             <strong>all right inside Our Website.</strong>
            </p> 
            <div> 
                <a href="/" class="button button-large">Get Started Now</a> 
            </div> 
            <small>Also create surveys, quizzes, registration forms, exams and so much more with Tripetto.</small> 
        </div> </div> </div> 
</section>

<section class="index-reviews content reviews" style="position: relative;"> 
    <div class="container-fluid ticker-holder">
        <div class="row">
            <div class="tickercontainer">
                <div class="mask">
                    <ul class="ticker-reviews reviews" id="revscroll"
                    style="float: left;border:1px soldi black; width: 5528px; transition-timing-function: linear; transition-duration: 19.7333s; left: -592px;">
                        <li style="float: left;" class="last">
                            <div class="review-palette-main-2"> 
                                <div class="review-rating"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </div>
                                <div class="review-meta"> <span>filip_van_hoeckel1</span> <small>February 2021</small> </div>
                                <a href="https://www.producthunt.com/posts/tripetto-3-0#comment-1273880" target="_blank" class="review-white">
                                    <h4>Replacing Gravity Forms, Typeform and Jotform.</h4>
                                </a> 
                                <p>We have been using Tripetto for close to a year, replacing Gravity Forms in WordPress and Typeform/Jotform implementations.</p> 
                            </div>
                            
                        </li>
                        <li style="float: left;" class="last">
                            <div class="review-palette-main-2"> 
                                <div class="review-rating"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </div>
                                <div class="review-meta"> <span>filip_van_hoeckel1</span> <small>February 2021</small> </div>
                                <a href="https://www.producthunt.com/posts/tripetto-3-0#comment-1273880" target="_blank" class="review-white">
                                    <h4>Replacing Gravity Forms, Typeform and Jotform.</h4>
                                </a> 
                                <p>We have been using Tripetto for close to a year, replacing Gravity Forms in WordPress and Typeform/Jotform implementations.</p> 
                            </div>
                            
                        </li>
                        <li style="float: left;" class="last">
                            <div class="review-palette-main-2"> 
                                <div class="review-rating"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </div>
                                <div class="review-meta"> <span>filip_van_hoeckel1</span> <small>February 2021</small> </div>
                                <a href="https://www.producthunt.com/posts/tripetto-3-0#comment-1273880" target="_blank" class="review-white">
                                    <h4>Replacing Gravity Forms, Typeform and Jotform.</h4>
                                </a> 
                                <p>We have been using Tripetto for close to a year, replacing Gravity Forms in WordPress and Typeform/Jotform implementations.</p> 
                            </div>
                            
                        </li>
                        <li style="float: left;" class="last">
                            <div class="review-palette-main-2"> 
                                <div class="review-rating"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </div>
                                <div class="review-meta"> <span>filip_van_hoeckel1</span> <small>February 2021</small> </div>
                                <a href="https://www.producthunt.com/posts/tripetto-3-0#comment-1273880" target="_blank" class="review-white">
                                    <h4>Replacing Gravity Forms, Typeform and Jotform.</h4>
                                </a> 
                                <p>We have been using Tripetto for close to a year, replacing Gravity Forms in WordPress and Typeform/Jotform implementations.</p> 
                            </div>
                            
                        </li>
                        <li style="float: left;" class="last">
                            <div class="review-palette-main-2"> 
                                <div class="review-rating"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </div>
                                <div class="review-meta"> <span>filip_van_hoeckel1</span> <small>February 2021</small> </div>
                                <a href="https://www.producthunt.com/posts/tripetto-3-0#comment-1273880" target="_blank" class="review-white">
                                    <h4>Replacing Gravity Forms, Typeform and Jotform.</h4>
                                </a> 
                                <p>We have been using Tripetto for close to a year, replacing Gravity Forms in WordPress and Typeform/Jotform implementations.</p> 
                            </div>
                            
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class=" shape-before shape-after"> 
    
    </div>
   
</section>
<section class="index-mosaic content mosaic">
    <div class=" shape-before shape-after"> </div>
    <div class="container container-content"> 
        <div class="row">
            <div class="col-lg-11 col-xl-10"> 
                <h2>A single plugin.<br>Everything forms.
                    <span class="lineyellow">Totally stand-alone.</span>
                </h2> 
            </div> 
        </div> 
        <div class="row"> 
            <div class="col-md-11 col-lg-10"> 
                <p>That’s right! The plugin runs a stand-alone, 
                    <strong>fullblown form builder and all storage</strong> 
                    right inside your WordPress without any dependencies on outside infrastructure. No strings attached!
                </p> 
                <a href="product/" class="hyperlink">
                <span>Take the product tour</span>
                <i class="fas fa-arrow-right"></i>
                </a> 
            </div> 
        </div> 
    </div> 
    <div class="container container-mosaic"> 
        <div class="row mosaic-row-top shape-before"> 
            
            <a href="product/#hosting" class="mosaic-block mosaic-block-vertical palette-hosting"> 
                <div> 
                    <h3>Data Storage Autonomy</h3> 
                    <p>Host and store everything only inside your very own WordPress. 
                        <strong>Hello GDPR!</strong></p> </div> 
                        <img src="{% static './images/hosting.svg' %}" 
                        alt="Illustration representing data storage freedom"> 
            </a> 
            <a href="product/#hosting" class="mosaic-block mosaic-block-vertical palette-hosting"> 
                <div> 
                    <h3>Data Storage Autonomy</h3> 
                    <p>Host and store everything only inside your very own WordPress. 
                        <strong>Hello GDPR!</strong></p> </div> 
                        <img src="{% static './images/hosting.svg' %}" 
                        alt="Illustration representing data storage freedom"> 
            </a> 
        </div> 
    </div> 
</section>


<section class="cta"> 
    <div class=" shape-before shape-after"> </div>
    <div class="container"> <div class="row cta-row"> 
        <div class="col-md-9 col-lg-11 col-xl-10"> 
            <small>Give life to forms and surveys</small>
             <h2><span>Tripetto for WordPress.</span>Have your forms done right, self-hosted.</h2>
              <div> <a href="pricing/" class="button button-wide">Get The Plugin</a>
             </div> 
            </div> 
        </div> 
    </div> 
</section>
{% endblock content %}