{% extends "pages/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static './css/courses.css' %}">
    <link rel="stylesheet" href="{% static './css/register.css' %}">
    <link rel="stylesheet" href="{% static './css/internships.css' %}">
    <link rel="stylesheet" href="{% static './css/internshipDet.css' %}">
{% endblock css %}


{% block content %}

<section class="containerInternship">
 
    <div class="details-header">
		<div class="container">
			<div class="results text-left">
									<a href="#" class="btn__back">
						Retour					</a>
																		<div class="visible-xs pull-right">
																											<a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="619828" title="Sauvegarder" data-href="/saved-jobs/?id=619828&amp;action=save&amp;reload=✓" rel="nofollow" href="#"></a>
													
					</div>
							</div>
			<h1 class="details-header__title">
				Gestionnaire de paies
									<span class="hidden-xs">
																					<a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="619828" title="Sauvegarder" data-href="/saved-jobs/?id=619828&amp;action=save&amp;reload=✓" rel="nofollow" href="#"></a>
													
					</span>
							</h1>
							<div class="listing-item__info--item listing-item__info--item-salary-range">
					
				</div>
						<ul class="listing-item__info clearfix inline-block">
				<li class="listing-item__info--item listing-item__info--item-company">
					LA2C
				</li>
									<li class="listing-item__info--item listing-item__info--item-location">
						92 Rue Edouard Vaillant, Levallois-Perret, France
					</li>
								<li class="listing-item__info--item listing-item__info--item-date">
					nov. 15, 2021
				</li>
			</ul>
			<div class="job-type">
				
									<span class="job-type__value">Alternance / Apprentissage</span>
								<span class="job-type__value">
                            Comptabilité - Gestion                    </span>
            <span class="job-type__value">
                            Administratif et services généraux                    </span>
			</div>
		</div>
	</div>
  


  
</section>

<section class="courses">
  <div class="container">
     

     <div class="text-courses-bottom" style="text-align:start">
    
        <h2>Title</h2> 
        <p style="padding: 15px;">
          Can't find what you're looking for? These are just a few examples of the thousands of
         virtual internship opportunities we offer. Apply today 
        to speak with an Admissions Counselor and find out what's available in your field.
        </p>

        <h2>Published on:</h2> 
        <p style="padding: 15px;">
          dec.06 2021
        </p>
     
     </div>
     
  <div class="details-footer affix">
    <div class="container cont-share-post">
                                         <a class="btn details-footer__btn-apply btn__orange btn__bold" href="" data-toggle="modal" data-target="#apply-modal" data-href="					https://www.stage.fr/apply-now/?json_redirect=true&amp;listing_id=619828&amp;ajaxRelocate=1
          " data-applied="" data-title="												Postuler au poste Gestionnaire de paies à LA2C			" rel="nofollow">
        Postuler Maintenant		</a>
  
                <div class="social-share pull-right social-share-pull">
          <span class="social-share__title">
            Share On:
          </span>
          <div class="social-share__icons">
            <div class="sharethis-inline-share-buttons st-right  st-inline-share-buttons st-animated" id="st-1"><div class="st-btn st-first" data-network="facebook" style="display: inline-block;">
    <img alt="facebook sharing button" src="https://platform-cdn.sharethis.com/img/facebook.svg">
    
  </div><div class="st-btn" data-network="twitter" style="display: inline-block;">
    <img alt="twitter sharing button" src="https://platform-cdn.sharethis.com/img/twitter.svg">
    
  </div><div class="st-btn" data-network="linkedin" style="display: inline-block;">
    <img alt="linkedin sharing button" src="https://platform-cdn.sharethis.com/img/linkedin.svg">
    
  </div><div class="st-btn st-last" data-network="pinterest" style="display: inline-block;">
    <img alt="pinterest sharing button" src="https://platform-cdn.sharethis.com/img/pinterest.svg">
    
  </div></div>
            <script src="//platform-api.sharethis.com/js/sharethis.js#property=5bd9571e8a1fb80011151c20&amp;product=inline-share-buttons" async="async"></script>
          </div>
        </div>
            </div>
  </div>
</section>



{% endblock content %}