{% extends "pages/base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static './css/courses.css' %}">
    <link rel="stylesheet" href="{% static './css/register.css' %}">
    <link rel="stylesheet" href="{% static './css/internships.css' %}">
{% endblock css %}


{% block content %}

<section class="containerInternship">
  <div class="imgwrapper">
      <img src="{%  static './images/hosting.svg' %}" alt="">
  </div>
  <div class="textwrapper">
      <h3>
        You Deserve a Career You Love
      </h3>
      <span>Award-Winning International Internships and Career Readiness Programs</span>
      <br>
      
  </div>
  


  
  <div class="wrapper">
    <!-- <h2>Find Your Internship</h2> -->
    <form action="#">
      <div class="input-box">
        <label class="custom-field one">
          <input type="text" placeholder=" " >
          <span class="placeholder">Search by major</span>
        </label>
      </div>
      <div class="input-box">
        <label class="custom-field one">
          <input type="text" placeholder=" ">
          <span class="placeholder">Search by place</span>
        </label>
        <!-- <input type="text" placeholder="Enter your email" required> -->
      </div>
      <div class="input-box">
        <label class="custom-field one">
          <input type="text" placeholder=" " >
          <span class="placeholder">Search by country</span>
        </label>
        <!-- <input type="password" placeholder="Create password" required> -->
      </div>
      
   
      <!-- <div class="input-box button"> -->
        <!-- <input type="Submit" value="Register Now"> -->
        <a href="/" class="button button-small anchor marginbtm10" style="margin-bottom: 15px">Search</a>
      <!-- </div> -->
      
    </form>
  </div>
</section>

<section class="courses">
  <div class="container">
     <div class="text-courses-above">
      <p>
         <strong>Build your career right now, right from your home</strong> 
         If you are accepted into our virtual internship program, you will work one-on-one with a
          Program Advisor and our Placement Team to find the right internship 
         match in your chosen career field, and based on your experiences and goals.
      </p>
      
     </div>

     <div class="text-courses-bottom">
      <p>
        <h2>Featured Virtual Internship Placements</h2> 
        Can't find what you're looking for? These are just a few examples of the thousands of
         virtual internship opportunities we offer. Apply today 
        to speak with an Admissions Counselor and find out what's available in your field.
     </p>
     </div>
     
     <div class="rowcrss">
     
      {% for internship in internships %}

      <div class="course">
        <div class="imgcourse">
            <img src="../static{{internship.intship.image.url}}" alt="ss">
        </div>
        
        <div class="infocourse">
            <div class="course-level">
              {{internship.intship.level}}
            </div>
            
            {% if internship.saved == "exist" %}
            <div class="save-course saveinternship">
             <i data-internship="{{internship.intship.id}}" class="lni lni-bookmark save-internship added"></i>
            </div>
            {% else %}
            <div class="save-course">
             
              <i data-internship="{{internship.intship.id}}" class="lni lni-bookmark save-internship"></i>
             </div>
            {% endif %}
           

            <div class="title-course">
                <h4>
                  {{internship.intship.title}}
                </h4>
            </div>

            <div class="desc">
              <p>
                {{internship.intship.description}}
              </p>
            </div>
           
           

        </div>
        <div class="enroll-price">
            <div class="apply-btn">
              <a href="{% url 'internshipDet' internship.intship.id %}"  class=" button button-apply">View Details</a>
            </div>
        </div>
    </div>

      {% endfor %}
    

     </div>
  </div>
 
</section>

  {% if company %}
  <div class="wrapper2" id="imageinsternshipuploaderCont">
    
    <div class="container2">
      
      <h3>Upload a Background Image for your Internship</h3>
      <div class="upload-container">
        <div class="border-container">
          <div class="icons fa-4x">
            <input type="file" id="fileuploadImageBack">
            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
            <!-- <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i> -->
          </div>
          <!--<input type="file" id="file-upload">-->
          <p>Drag and drop files here, or 
            <a href="#browse" id="file-browser">browse</a> your computer.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- add btn -->
  <div class="add-button">
    <div class="sub-button tl"></div>
    <div class="sub-button tr"></div>
    <a href="#unpaied" title="unpaied internship"><div class="sub-button bl"></div></a>
    <a href="#paied" title="paied internship"><div class="sub-button br"></div></a>
  </div>


  <!-- great form -->
<div class="form-internship">
  
  <form>
    <ul class="items">

    </ul>
    <fieldset class="username enable">
      <div class="icon left"><i class="user"></i></div>
      <input type="text" name="username" placeholder="Title"/>
      <div class="icon right buttondown"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="email">
      <div class="icon left"><i class="letter"></i></div>
      <input type="text" name="email" placeholder="Level"/>
      <div class="icon right buttondown"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="password">
      <div class="icon left"><i class="lock"></i></div>
      <input type="text" name="password" placeholder="Location"/>
      <div class="icon right buttondown"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="password">
      <div class="icon left"><i class="lock"></i></div>
      <input type="date" name="password" placeholder="Dead Line"/>
      <div class="icon right buttondown"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="password">
      <div class="icon left"><i class="lock"></i></div>
      <input type="text" name="password" placeholder="Requirements:req1,req2.."/>
      <div class="icon right buttondown"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="password">
      <div class="icon left"><i class="lock"></i></div>
      <input type="text" name="password" placeholder="Description"/>
      <div class="icon right buttondown"><i class="arrow"></i></div>
    </fieldset>
    <fieldset class="password" style="box-shadow: none;background: transparent;">
      
      <button style="display: flex; margin:auto" type="submit" class="button">Add To Internships section<i class="fas fa-paper-plane"></i></button>
     
    </fieldset>
    <!-- <fieldset class="thanks">
      <div class="icon left"><i class="heart"></i></div>
      <p>Thanks for your time</p>
      <div class="icon right"><i class="heart"></i></div>
    </fieldset> -->
  </form>
</div>
  {% else %}
    <span>Student</span>
  {% endif %}

{% endblock content %}

{% block js %}

<script src="{% static 'js/internship.js' %}"></script>

{% endblock js %}