{% extends "pages/base.html" %}
{% load static %}


{% block css %}
  <link rel="stylesheet" href="{% static './css/register.css' %}">
  <link rel="stylesheet" href="{% static './css/courses.css' %}">
  <link rel="stylesheet" href="{% static './css/register.css' %}">
  <link rel="stylesheet" href="{% static './css/internships.css' %}">
  <link rel="stylesheet" href="{% static './css/internshipDet.css' %}">
  {% if saved == "exist" %}
            <style>
        .details-header .save-job::before{background:rgba(32, 26, 220, 0.3)}
         </style>
  {% endif %}
  <script>
    let userNm111="{{username}}"
    let userEml11="{{email}}"
  </script>
{% endblock css %}


{% block content %}



<section class="containerInternship">
 
    <div class="details-header">
		<div class="container">
			<div class="results text-left">
				<a href="{% url 'internships' %}" class="btn__back">Return</a>
				<div class="visible-xs pull-right">
				<a class="save-job " href="#internship"></a>						
					</div>
							</div>
			<h1 class="details-header__title">
			  {{object.title}}
			<span class="hidden-xs"> 
        {% if saved == "exist" %}
        
        <a class="save-job save-internship added"  data-internship="{{object.id}}" data-toggle="modal"  data-id="619828" title="Sauvegarder" data-href="/saved-jobs/?id=619828&amp;action=save&amp;reload=✓" rel="nofollow" href="#"></a>
        {% else %}
        <a class="save-job save-internship"  data-internship="{{object.id}}" data-toggle="modal"  data-id="619828" title="Sauvegarder" data-href="/saved-jobs/?id=619828&amp;action=save&amp;reload=✓" rel="nofollow" href="#"></a>
        {% endif %}
					</span>
							</h1>
							<div class="listing-item__info--item listing-item__info--item-salary-range">
					
				</div>
						<ul class="listing-item__info clearfix inline-block">
				<li class="listing-item__info--item listing-item__info--item-company">
					{{object.company}}
				</li>
									<li class="listing-item__info--item listing-item__info--item-location">
						{{object.location}}
					</li>
								<li class="listing-item__info--item listing-item__info--item-date">
				  {{object.date}}
				</li>
			</ul>
			<div class="job-type">


        
        <script>
          var listspan="{{object.tags}}".split(',')

          for(var listspanid=0; listspanid<listspan.length; listspanid++){
            var createdspan = document.createElement("span")
            createdspan.setAttribute("class","job-type__value")
            var textcreated = document.createTextNode(listspan[listspanid])
            createdspan.appendChild(textcreated)
            document.querySelector(".job-type").appendChild(createdspan)
          }
          
        </script>
     
			</div>
		</div>
	</div>
  


  
</section>

<section class="courses">
  <div class="container">
     

     <div class="text-courses-bottom" style="text-align:start">
    
        <h2>Title</h2> 
        <p style="padding: 15px;">
          Can't find what you're looking for? These are just a few examples of the thousands of
         virtual internship opportunities we offer. Apply today 
        to speak with an Admissions Counselor and find out what's available in your field.
        </p>

        <h2>Published on:</h2> 
        <p style="padding: 15px;">
          dec.06 2021
        </p>
     
     </div>
     
  <div class="details-footer affix">
    <div class="container cont-share-post">
      <button class="btn details-footer__btn-apply btn__orange btn__bold"  id="btnapply">
        Postuler Maintenant	
      </button>
  
                <div class="social-share pull-right social-share-pull">
          <span class="social-share__title">
            Share On:
          </span>
          <div class="social-share__icons">
            <div class="sharethis-inline-share-buttons st-right  st-inline-share-buttons st-animated" id="st-1"><div class="st-btn st-first" data-network="facebook" style="display: inline-block;">
    <img alt="facebook sharing button" src="https://platform-cdn.sharethis.com/img/facebook.svg">
    
  </div><div class="st-btn" data-network="twitter" style="display: inline-block;">
    <img alt="twitter sharing button" src="https://platform-cdn.sharethis.com/img/twitter.svg">
    
  </div><div class="st-btn" data-network="linkedin" style="display: inline-block;">
    <img alt="linkedin sharing button" src="https://platform-cdn.sharethis.com/img/linkedin.svg">
    
  </div><div class="st-btn st-last" data-network="pinterest" style="display: inline-block;">
    <img alt="pinterest sharing button" src="https://platform-cdn.sharethis.com/img/pinterest.svg">
    
  </div></div>
            <script src="//platform-api.sharethis.com/js/sharethis.js#property=5bd9571e8a1fb80011151c20&amp;product=inline-share-buttons" async="async"></script>
          </div>
        </div>
            </div>
  </div>
</section>


<div class="wrapper-parent">

  
<div class="wrapper" id="wrapperdiv">
  
  <h2>Apply for an internship</h2>
  <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-box">
      <label class="custom-field one">
        <!-- <input type="text" placeholder=" " required> -->
        <!-- <input type="text" id="usernameUser"> -->
       
        {{form.username}}
        <span class="placeholder">username</span>
      </label>
    </div>
    <div class="input-box">
      <label class="custom-field one">
        <!-- <input type="email" placeholder=" " required> -->
        <!-- <input type="email" id="EmailUser" > -->
        
        {{form.email}}
        <span class="placeholder">Enter your email</span>
      </label>
      <!-- <input type="text" placeholder="Enter your email" required> -->
    </div>
    <div class="input-box">
      <label class="custom-field one">
        <!-- <input type="password" placeholder=" " required> -->
        <!-- <input type="file" class="inputfile" id="" style="font-size: 14px;padding-top:5px"> -->
       
        {{form.circulumvitae}}
       
      </label>
      <!-- <input type="password" placeholder="Create password" required> -->
    </div>
    <div class="input-box">
      <!-- <input type="password" placeholder="Confirm password" required> -->
      <label class="custom-field one">
        <!-- <input type="password" placeholder=" " required> -->
        <!-- <textarea name="" id="textareainput" style="padding: 5px; max-width:521px"></textarea> -->
        
        {{form.motivationLetter}}
        <span class="placeholder">Motivation letter</span>
      </label>
    </div>
    
    <br>
    <div class="policy"  style="width: 100%">
      <input type="checkbox">
      <h3>I accept all terms & condition</h3>
    </div>
    <!-- <div class="input-box button"> -->
      <input type="Submit" class="button button-small anchor btnmarginleft" style="margin-bottom: 15px;" value="Validate a demande">

    
   
  </form>
  <div class="concelbtn">
    <span>&times</span>
  </div>
</div>
</div>
{% endblock content %}


{% block js %}
<script src="{% static './js/internship.js' %}"></script>
<script src="{% static './js/internshipDet.js' %}"></script>

{% endblock js %}