
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">

<link rel="stylesheet" href="{% static '/css/mobile.css' %}">
<header>
    <div class="containernav">

        <h1 class="logo">Generico<span>Logo</span></h1>
        
        <nav class="site-nav">
            <ul>
              <li><a href=""><i class="fa fa-home site-nav--icon"></i>Home</a></li> 
              <li><a href=""><i class="fa fa-info site-nav--icon"></i>About</a></li>
              <li><a href=""><i class="fa fa-pencil site-nav--icon"></i>Blog</a></li>
              <li><a href=""><i class="fa fa-usd site-nav--icon"></i>Pricing</a></li>
              <li><a href=""><i class="fa fa-envelope site-nav--icon"></i>Contact</a></li>
            </ul> 
        </nav>
        
        <div class="menu-toggle">
          <div class="hamburger"></div>
        </div>
        
      </div>
</header>
<script src="{% static '/js/main1.js' %}"></script>
<script src="{% static '/js/mobile.js' %}"></script>