{% extends "pages/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static './css/register.css' %}">
{% endblock css %}

{% block content %}
<div class="wrapper">
  <h2>Registration</h2>
  <form action="#" method="post">
    {% csrf_token %}
    <div class="input-box">
      <label class="custom-field one">
        <!-- <input type="text" placeholder=" " required> -->
        {{form.username}}
        <span class="placeholder">Create username</span>
      </label>
    </div>
    <div class="input-box">
      <label class="custom-field one">
        <!-- <input type="email" placeholder=" " required> -->
        {{form.email}}
        <span class="placeholder">Enter your email</span>
      </label>
      <!-- <input type="text" placeholder="Enter your email" required> -->
    </div>
    <div class="input-box">
      <label class="custom-field one">
        <!-- <input type="password" placeholder=" " required> -->
        {{form.password1}}
        <span class="placeholder">Create password</span>
      </label>
      <!-- <input type="password" placeholder="Create password" required> -->
    </div>
    <div class="input-box">
      <!-- <input type="password" placeholder="Confirm password" required> -->
      <label class="custom-field one">
        <!-- <input type="password" placeholder=" " required> -->
        {{form.password2}}
        <span class="placeholder">Confirm password</span>
      </label>
    </div>
    <div class="policy" style="width: 200px; float:left">
      <input id="studentReg" type="checkbox" value="Student" name="typeuser">
      <!-- {{form.studentCheck}} -->
      <h3>Student</h3>
    </div>
    <div class="policy "  style="width: 50px; float:left">
      <input id="companyReg" type="checkbox" value="Company" name="typeuser" >
      <!-- {{form.companyCheck}} -->
      <h3>Company</h3>
    </div>
    <div class="policy"  style="width: 100%">
      <input type="checkbox">
      <h3>I accept all terms & condition</h3>
    </div>
    <!-- <div class="input-box button"> -->
      <input type="Submit" class="button button-small anchor" style="margin-bottom: 15px" value="Register Now">
      <!-- <a href="/" class="button button-small anchor" style="margin-bottom: 15px">Register Now</a> -->
    <!-- </div> -->
    <div class="text">
      <h3>Already have an account? <a href="{% url 'login' %}">Login now</a></h3>
    </div>
  </form>
</div>

<!-- <label class="custom-field one">
    <input type="text" placeholder=" "/>
    <span class="placeholder">Enter Text</span>
  </label> -->
  
{% endblock content %} 

{% block js %}
  <script src="{% static './js/inputs.js' %}"></script>

{% endblock js %}